body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border-left: 6px solid #ddd;
}

.card.high { border-color: red; }
.card.medium { border-color: orange; }
.card.low { border-color: green; }

.scoreBox {
    background: #000;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 20px;
}
